<div class="container">
  <h1>Teachers Details</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Emp No</th>
        <th scope="col">Name</th>
        <th scope="col">Subject</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each teachers}}
      <tr>
        <th scope="row">{{formatIndex @index}}</th>
        <td>{{this.id}}</td>
        <td> <a class="nav-link" href={{genLink this.id}}>{{toTitlecase this.firstName}} {{this.lastName}}</a>
        </td>
        <td>{{toTitlecase this.subject}}</td>
        <td>{{this.emailID}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>